body{
    margin: 0%;
    padding: 0%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
li{
    list-style-type: none;
    padding: 5px;
}
ul{
    margin: 0%;
    padding: 0%;
}